/*top bar*/
header {
   background-color: #32B7B7;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   
}   

.header-event {
   max-width: 100%;
}

.nav-items{

   display: flex;
  
   align-items: center;

   margin: 10px;



}

.barra::before {
   content: "| ";  
}

.items {
   display: flex;
   margin: auto;
   

   

  
}
   
.items li{
   margin: auto 10px;
   text-decoration: none;
   list-style: none; /* quita el estilo de la lista por defecto (los puntos) */
   
    }


a:hover {
   color: rgb(247, 243, 243);
   font-size: 1.3rem;  /* rem es  un proporcional a un tamao estandar */
}

a {
   text-decoration: none; /* quita el estilo del texto por defecto (a) */
   font-weight: bold; /*negrita*/
   color: black;
   font-size: 1.2rem;
}


/*body*/


body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background: url(eventosET.jpg)
}

.head_principal {
   
   display: flex;
   justify-content: space-evenly;
   margin: auto;
   



}


.container_a  div {
   flex-direction: column;
   background-color: #65dbdb;
   /* background: url(canciones.jpg); */
   width: 500px;
   height: 400px;
   text-align: center;
   border: 1px solid rgb(245, 237, 237);
   border-radius: 15px;
   padding: 10px;
   font-size: 1rem;
   color: rgb(10, 9, 9)
}

.container_a a:hover {
   color: rgb(219, 134, 23);
}


.container_b div {
   flex-direction: column;
   background-color: #65dbdb;
   width: 500px;
   height: 400px;
   text-align: center;
   border: 1px solid rgb(245, 237, 237);
   border-radius: 15px;
   padding: 10px;
   font-size: 1rem;
   color: rgb(10, 9, 9)

}

.container_b a:hover {
   color: rgb(219, 134, 23);
}

.sub-head div {

   display: flex;
   flex-direction: row;
}

.flex-container { 

   justify-content: space-around;
   margin: auto;
   border: 1px solid #E8E8E8;
   background-color: #65dbdb;
   border-radius: 1px;
   height: 30px;
   width: 200px;
   border-radius: 15px;
}


.number {
   position: relative;
   bottom: 20px;
}

.number a:hover {
   color: rgb(219, 134, 23)
}

.icon-litle { 
   position: relative;
   top: 8px;
}


/*bottom bar*/
footer {

   background-color: #32B7B7;
   margin: auto;
   display: flex;
   justify-content: space-between;
   min-width: 100%;

}


.icon2 {
   min-width: 3%;
   font-size: 4rem;

}

.icon2 img {
   width: 25px;
   height: 25px;
}

.icon3 {  

   background-color: #32B7B7;
   display: flex;
   align-items: center;
   margin: 0 10px;

}

.icon3 img {
   min-width: 45px;
   min-height: 45px;
}

.items3 {
   text-decoration: none;
   list-style: none;
}

.items3 img {
   width: 30px;

}

/*flexbox*/
.center{

   display: flex;
   justify-content: center;
   align-items: center;
}

.space{

   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   
}

.flex {
   margin: auto ;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;

}

/*responsive*/

@media screen and (max-width: 480px) {

   .head_principal {
      display: flex;
      margin: auto;
      justify-content: center;
   

   }   
   
      body {
         min-width: 370%;

      }

      .container_a { 
         padding: 5%;
      }

      .container_b {
         padding: 5%;
      }


   }


@media screen and (max-width: 760px) {

   .head_principal {
      display: flex;
      margin: auto;
      justify-content: center;
   

   }   
   
      body {
         min-width: 370%;

      }

      .container_a { 
         padding: 5%;
      }

      .container_b {
         padding: 5%;
      }


   
}

@media screen and (max-width: 1024px) {

   .head_principal {
      display: flex;
      margin: auto;
      justify-content: center;
      flex-direction: column;
   

   }   
   
      body {
         min-width: 370%;
         

      }

      .container_a { 
         padding: 5%;
      }

      .container_b {
         padding: 5%;
      }
      

}

/*Login*/


.form_regis {

      background-color: #32B7B7;
      border-radius: 15px;
      margin: 60px;
      width: 30%;
      padding: 20px;
      text-align: center;
      
}

.form_login {

      background-color: #32B7B7;
      border-radius: 15px;
      margin: 60px;
      width: 30%;
      max-height:30rem;
      padding: 20px;
      text-align: center;
      
}

form {
      font-family: Arial, Helvetica, sans-serif;

}

input[type="text"]{width: 200px;}

input{
      
      text-align: center;
      margin: auto;
      padding: 8px;
      border-radius: 20px;
}

input[type="password"] {

      width: 13rem;
}
   

   

/*SobreNosotros*/

.text_sb {

      height: 400px;
      width: 70%;
      background-color: #32B7B7;
      padding: 20px;
      margin: 60px;
      border-radius: 15px;
}

.text_sb h1 {

      color: #f0ec2f;
}

.tittle {
      background-color: #32B7B7;
      margin: 15px;
      text-align: left;
      padding: 15px;
      border-radius: 15px;
}

.main-content {

      background-color: #32B7B7;
      height: 800px;
      width: 50%;
      margin: 60px;
      border-radius: 20px;
}

.main-content h1 {

      color: #f0ec2f;
}

.contact-form input[type="email"] {

      width: 200px;

}



.sub-content {

      background-color: #6bd4d4;
      height: 730px;
      width: 90%;
      margin: 20px;
      padding: 10px;
      text-align: center;
}

/*Home*/

select {
      border: none;
      text-align: center;
      margin: auto;
      padding: 8px;
      border-radius: 20px;
      height: 40px;
      width: 230px;
      background-color: white;
      border: 2px solid;
}

/* .searcher__input{
      height: 45px;
      width: 100%;
      background-color: white;
      border-radius: 20px;
      margin: auto;
      padding: 8px;
} */

input[type="date"] {

      width: 13rem;

}

.form_searcher {

      background-color: #32B7B7;
      border-radius: 15px;
      margin: 60px;
      width: 35%;
      height: 600px;
      padding: 20px;
      text-align: center;
      font-size: large;

}

.form_category {

      background-color: #32B7B7;
      border-radius: 15px;
      margin: 60px;
      width: 35%;
      height: 600px;
      padding: 20px;
      text-align: center;
      font-size: large;
      display: flex;
      flex-direction: column;

}

.box_cate {

   background-color: #8ac2c2;
   border-radius: 20px;
   padding: 10px;
   text-align: center;
   color: rgb(10, 9, 9);
   width: 400px;
   margin: auto;
   
}


            
      
   